<h1><a class="unstyled" href='/'>eC Raid runs</a></h1>

<hr />


<div class='row'>
  <div class='col-6'>

{% assign year_group = '' %}
{% assign month_group = '' %}
{% assign day_group = '' %}
{% assign _full_date = '' %}

    <table id='ec-boss'>
      <thead>
        <tr style="cursor: pointer;" >
          <td data-sort-default>Date</td>
          <td style="width: 400px;" data-sort-method='none'>Boss</td>
        </tr>
      </thead>
      <tbody>
{% for item in site.static_files %}

{% assign path = item.path | split:"/" %}

{% unless path[0] == "boss-fights" %}
  {% continue %}
{% endunless %}

{% unless path[2] == year_group %}
{% capture year_group %}{{path[2]}}{% endcapture %}
{% endunless %}

{% unless path[3] == month_group %}
{% capture month_group %}{{path[3]}}{% endcapture %}
{% endunless %}

{% unless path[4] == day_group %}
{% capture day_group %}{{path[4]}}{% endcapture %}
{% endunless %}

{% capture _full_date %}{{year_group}}/{{month_group}}/{{day_group}}{% endcapture %}
{% unless _full_date == full_date %}
{% assign full_date = _full_date %}
        <tr style="cursor: pointer;"  onclick="showGroup('{{full_date}}')">
          <td> {{full_date}} </td>
          <td>-- ((click to view)) --</td>
        </tr>
{% endunless %}
        <tr class="child hide" data-owner="{{full_date}}" onclick="window.open('{{ item.path }}');">
          <td data-sort="{{full_date}}"> - </td>
          <td>{{ path[4] | remove:".html" }} (opens in new window)</td>
        </tr>
{% endfor %}
      </tbody>
    </table>

  </div>

  <div class='col-6'>
    <h3>eC Members</h3>
    <ul>
      <li><a href="#">Member</a></li>
      <li><a href="#">Member</a></li>
      <li><a href="#">Member</a></li>
      <li><a href="#">Member</a></li>
      <li><a href="#">Member</a></li>
      <li><a href="#">Member</a></li>
      <li><a href="#">Member</a></li>
      <li><a href="#">Member</a></li>
      <li><a href="#">Member</a></li>
    </ul>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.1/tablesort.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.1/sorts/tablesort.date.min.js"></script>
<script>
  new Tablesort(document.getElementById('ec-boss'), {
   descending: true
  });

  var openTab;
  function showGroup(name) {
    document.querySelectorAll('tr.child').forEach(function(i) {i.classList.add('hide')})
    if(openTab===name) {
      openTab = null;
    } else {
      document.querySelectorAll('tr.child[data-owner="'+name+'"]').forEach(function(i) {i.classList.remove('hide')})
      openTab = name;
    }
  }
</script>
